/* Kanban styles */

.AddLane {
  background: #03A9F4;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 1000px;
  border: none;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s;
}

.AddLane:hover {
  background: #003366;
  border: 2px solid #ff9900;
}

.Kanban > div {
  display: flex;
  flex-direction: row;
}
